# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.gob
*.zip

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Logs
*.log

# Configuration settings
.config

.vscode/
**/database/*
**/exp/*
cmd/admin/admin
cmd/web/tiddlypom
cmd/web/tiddly.txt
